*.qgs*
*.mxd
*.pptx
311byCD_finalmap.png
20160101_20160401_DOT_311_Service_Requests.*
20160413_Introduction_to_GIS_Fundamentals/images/AddtlScreenShots/*
20160428_Introduction_to_GIS_Fundamentals/data/nyc-bike-routes-2015/
20150601_20150830_NYPD_Motor_Vehicle_Collisions_CyclistInjury.csv
Lincoln_Square_BID_Business_List.csv
bike_exercise.md
participant_workbook*
20160510_Intermediate_GIS/images/unused/