.DS_Store
*.qgs*
*.mxd
*.pptx
*.pages
311byCD_finalmap.png
20160101_20160401_DOT_311_Service_Requests.*
20160413_Introduction_to_GIS_Fundamentals/images/AddtlScreenShots/*
20160428_Introduction_to_GIS_Fundamentals/data/nyc-bike-routes-2015/
20150601_20150830_NYPD_Motor_Vehicle_Collisions_CyclistInjury.csv
bike_exercise.md
participant_workbook*
20160510_Intermediate_GIS/images/unused/
20160510_Intermediate_GIS/data/nyc-bike-routes-2015/nyc_bike_routes_2015_2263.*
20160428_Introduction_to_GIS_Fundamentals/images/extent.png
20160428_Introduction_to_GIS_Fundamentals/images/zoom.png
20160510_Intermediate_GIS/rejects.md
code/
/data/
Thumbs.db
*.sublime*